.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}
.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused.MuiInputBase-colorPrimary.MuiInputBase-formControl {
  border-color: #dfdfdf !important;
}

.movieDescription {
  max-height: 2.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.MuiFormControl-root.MuiTextField-root {
  width: 40%;
  border-color: #dfdfdf;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
